<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.statisdatainfo.dao.DocmentMapper" >
  <resultMap id="BaseResultMap" type="com.example.statisdatainfo.entity.Docment" >
    <id column="DOCID" property="docid" jdbcType="INTEGER" />
    <result column="DOCCHANNEL" property="docchannel" jdbcType="INTEGER" />
    <result column="DOCVERSION" property="docversion" jdbcType="INTEGER" />
    <result column="DOCTYPE" property="doctype" jdbcType="INTEGER" />
    <result column="DOCTITLE" property="doctitle" jdbcType="VARCHAR" />
    <result column="DOCSOURCE" property="docsource" jdbcType="INTEGER" />
    <result column="DOCSECURITY" property="docsecurity" jdbcType="INTEGER" />
    <result column="DOCSTATUS" property="docstatus" jdbcType="INTEGER" />
    <result column="DOCKIND" property="dockind" jdbcType="INTEGER" />
    <result column="DOCABSTRACT" property="docabstract" jdbcType="VARCHAR" />
    <result column="DOCKEYWORDS" property="dockeywords" jdbcType="VARCHAR" />
    <result column="DOCRELWORDS" property="docrelwords" jdbcType="VARCHAR" />
    <result column="DOCPEOPLE" property="docpeople" jdbcType="VARCHAR" />
    <result column="DOCPLACE" property="docplace" jdbcType="VARCHAR" />
    <result column="DOCAUTHOR" property="docauthor" jdbcType="VARCHAR" />
    <result column="DOCEDITOR" property="doceditor" jdbcType="VARCHAR" />
    <result column="DOCAUDITOR" property="docauditor" jdbcType="VARCHAR" />
    <result column="DOCOUTUPID" property="docoutupid" jdbcType="INTEGER" />
    <result column="DOCVALID" property="docvalid" jdbcType="TIMESTAMP" />
    <result column="DOCPUBURL" property="docpuburl" jdbcType="VARCHAR" />
    <result column="DOCPUBTIME" property="docpubtime" jdbcType="TIMESTAMP" />
    <result column="DOCRELTIME" property="docreltime" jdbcType="TIMESTAMP" />
    <result column="CRUSER" property="cruser" jdbcType="VARCHAR" />
    <result column="CRTIME" property="crtime" jdbcType="TIMESTAMP" />
    <result column="DOCWORDSCOUNT" property="docwordscount" jdbcType="INTEGER" />
    <result column="DOCPRO" property="docpro" jdbcType="INTEGER" />
    <result column="RIGHTDEFINED" property="rightdefined" jdbcType="SMALLINT" />
    <result column="TITLECOLOR" property="titlecolor" jdbcType="VARCHAR" />
    <result column="TEMPLATEID" property="templateid" jdbcType="INTEGER" />
    <result column="SCHEDULE" property="schedule" jdbcType="INTEGER" />
    <result column="DOCNO" property="docno" jdbcType="VARCHAR" />
    <result column="DOCFLAG" property="docflag" jdbcType="INTEGER" />
    <result column="EDITOR" property="editor" jdbcType="VARCHAR" />
    <result column="ATTRIBUTE" property="attribute" jdbcType="VARCHAR" />
    <result column="HITSCOUNT" property="hitscount" jdbcType="INTEGER" />
    <result column="SUBDOCTITLE" property="subdoctitle" jdbcType="VARCHAR" />
    <result column="ATTACHPIC" property="attachpic" jdbcType="SMALLINT" />
    <result column="DOCLINK" property="doclink" jdbcType="VARCHAR" />
    <result column="DOCFILENAME" property="docfilename" jdbcType="VARCHAR" />
    <result column="DOCFROMVERSION" property="docfromversion" jdbcType="INTEGER" />
    <result column="OPERTIME" property="opertime" jdbcType="TIMESTAMP" />
    <result column="OPERUSER" property="operuser" jdbcType="VARCHAR" />
    <result column="FLOWOPERATIONMARK" property="flowoperationmark" jdbcType="VARCHAR" />
    <result column="FLOWPREOPERATIONMARK" property="flowpreoperationmark" jdbcType="VARCHAR" />
    <result column="FLOWOPERATIONMASKENUM" property="flowoperationmaskenum" jdbcType="VARCHAR" />
    <result column="DOCSOURCENAME" property="docsourcename" jdbcType="VARCHAR" />
    <result column="DOCLINKTO" property="doclinkto" jdbcType="VARCHAR" />
    <result column="DOCMIRRORTO" property="docmirrorto" jdbcType="VARCHAR" />
    <result column="RANDOMSERIAL" property="randomserial" jdbcType="VARCHAR" />
    <result column="POSTUSER" property="postuser" jdbcType="VARCHAR" />
    <result column="ISPAGEIMG" property="ispageimg" jdbcType="TINYINT" />
    <result column="PUBLISHDATE" property="publishdate" jdbcType="VARCHAR" />
    <result column="PAGENUM" property="pagenum" jdbcType="VARCHAR" />
    <result column="PAGENAME" property="pagename" jdbcType="VARCHAR" />
    <result column="PDFFILENAME" property="pdffilename" jdbcType="VARCHAR" />
    <result column="PAGEIMAGEFILENAME" property="pageimagefilename" jdbcType="VARCHAR" />
    <result column="MAP" property="map" jdbcType="VARCHAR" />
    <result column="YINTI" property="yinti" jdbcType="VARCHAR" />
    <result column="SITEID" property="siteid" jdbcType="INTEGER" />
    <result column="SRCSITEID" property="srcsiteid" jdbcType="INTEGER" />
    <result column="DOCFIRSTPUBTIME" property="docfirstpubtime" jdbcType="TIMESTAMP" />
    <result column="NODEID" property="nodeid" jdbcType="INTEGER" />
    <result column="ORDERID" property="orderid" jdbcType="INTEGER" />
    <result column="CRDEPT" property="crdept" jdbcType="VARCHAR" />
    <result column="DOCFORM" property="docform" jdbcType="INTEGER" />
    <result column="DOCLEVEL" property="doclevel" jdbcType="INTEGER" />
    <result column="olddocpuburl" property="olddocpuburl" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.example.statisdatainfo.entity.DocmentWithBLOBs" extends="BaseResultMap" >
    <result column="DOCCONTENT" property="doccontent" jdbcType="LONGVARCHAR" />
    <result column="DOCHTMLCON" property="dochtmlcon" jdbcType="LONGVARCHAR" />
    <result column="DOCPUBHTMLCON" property="docpubhtmlcon" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    DOCID, DOCCHANNEL, DOCVERSION, DOCTYPE, DOCTITLE, DOCSOURCE, DOCSECURITY, DOCSTATUS, 
    DOCKIND, DOCABSTRACT, DOCKEYWORDS, DOCRELWORDS, DOCPEOPLE, DOCPLACE, DOCAUTHOR, DOCEDITOR, 
    DOCAUDITOR, DOCOUTUPID, DOCVALID, DOCPUBURL, DOCPUBTIME, DOCRELTIME, CRUSER, CRTIME, 
    DOCWORDSCOUNT, DOCPRO, RIGHTDEFINED, TITLECOLOR, TEMPLATEID, SCHEDULE, DOCNO, DOCFLAG, 
    EDITOR, ATTRIBUTE, HITSCOUNT, SUBDOCTITLE, ATTACHPIC, DOCLINK, DOCFILENAME, DOCFROMVERSION, 
    OPERTIME, OPERUSER, FLOWOPERATIONMARK, FLOWPREOPERATIONMARK, FLOWOPERATIONMASKENUM, 
    DOCSOURCENAME, DOCLINKTO, DOCMIRRORTO, RANDOMSERIAL, POSTUSER, ISPAGEIMG, PUBLISHDATE, 
    PAGENUM, PAGENAME, PDFFILENAME, PAGEIMAGEFILENAME, MAP, YINTI, SITEID, SRCSITEID, 
    DOCFIRSTPUBTIME, NODEID, ORDERID, CRDEPT, DOCFORM, DOCLEVEL, olddocpuburl
  </sql>
  <sql id="Blob_Column_List" >
    DOCCONTENT, DOCHTMLCON, DOCPUBHTMLCON
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from wcmdocument
    where DOCID = #{docid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wcmdocument
    where DOCID = #{docid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.example.statisdatainfo.entity.DocmentWithBLOBs" >
    insert into wcmdocument (DOCID, DOCCHANNEL, DOCVERSION, 
      DOCTYPE, DOCTITLE, DOCSOURCE, 
      DOCSECURITY, DOCSTATUS, DOCKIND, 
      DOCABSTRACT, DOCKEYWORDS, DOCRELWORDS, 
      DOCPEOPLE, DOCPLACE, DOCAUTHOR, 
      DOCEDITOR, DOCAUDITOR, DOCOUTUPID, 
      DOCVALID, DOCPUBURL, DOCPUBTIME, 
      DOCRELTIME, CRUSER, CRTIME, 
      DOCWORDSCOUNT, DOCPRO, RIGHTDEFINED, 
      TITLECOLOR, TEMPLATEID, SCHEDULE, 
      DOCNO, DOCFLAG, EDITOR, 
      ATTRIBUTE, HITSCOUNT, SUBDOCTITLE, 
      ATTACHPIC, DOCLINK, DOCFILENAME, 
      DOCFROMVERSION, OPERTIME, OPERUSER, 
      FLOWOPERATIONMARK, FLOWPREOPERATIONMARK, 
      FLOWOPERATIONMASKENUM, DOCSOURCENAME, DOCLINKTO, 
      DOCMIRRORTO, RANDOMSERIAL, POSTUSER, 
      ISPAGEIMG, PUBLISHDATE, PAGENUM, 
      PAGENAME, PDFFILENAME, PAGEIMAGEFILENAME, 
      MAP, YINTI, SITEID, 
      SRCSITEID, DOCFIRSTPUBTIME, NODEID, 
      ORDERID, CRDEPT, DOCFORM, 
      DOCLEVEL, olddocpuburl, DOCCONTENT, 
      DOCHTMLCON, DOCPUBHTMLCON)
    values (#{docid,jdbcType=INTEGER}, #{docchannel,jdbcType=INTEGER}, #{docversion,jdbcType=INTEGER}, 
      #{doctype,jdbcType=INTEGER}, #{doctitle,jdbcType=VARCHAR}, #{docsource,jdbcType=INTEGER}, 
      #{docsecurity,jdbcType=INTEGER}, #{docstatus,jdbcType=INTEGER}, #{dockind,jdbcType=INTEGER}, 
      #{docabstract,jdbcType=VARCHAR}, #{dockeywords,jdbcType=VARCHAR}, #{docrelwords,jdbcType=VARCHAR}, 
      #{docpeople,jdbcType=VARCHAR}, #{docplace,jdbcType=VARCHAR}, #{docauthor,jdbcType=VARCHAR}, 
      #{doceditor,jdbcType=VARCHAR}, #{docauditor,jdbcType=VARCHAR}, #{docoutupid,jdbcType=INTEGER}, 
      #{docvalid,jdbcType=TIMESTAMP}, #{docpuburl,jdbcType=VARCHAR}, #{docpubtime,jdbcType=TIMESTAMP}, 
      #{docreltime,jdbcType=TIMESTAMP}, #{cruser,jdbcType=VARCHAR}, #{crtime,jdbcType=TIMESTAMP}, 
      #{docwordscount,jdbcType=INTEGER}, #{docpro,jdbcType=INTEGER}, #{rightdefined,jdbcType=SMALLINT}, 
      #{titlecolor,jdbcType=VARCHAR}, #{templateid,jdbcType=INTEGER}, #{schedule,jdbcType=INTEGER}, 
      #{docno,jdbcType=VARCHAR}, #{docflag,jdbcType=INTEGER}, #{editor,jdbcType=VARCHAR}, 
      #{attribute,jdbcType=VARCHAR}, #{hitscount,jdbcType=INTEGER}, #{subdoctitle,jdbcType=VARCHAR}, 
      #{attachpic,jdbcType=SMALLINT}, #{doclink,jdbcType=VARCHAR}, #{docfilename,jdbcType=VARCHAR}, 
      #{docfromversion,jdbcType=INTEGER}, #{opertime,jdbcType=TIMESTAMP}, #{operuser,jdbcType=VARCHAR}, 
      #{flowoperationmark,jdbcType=VARCHAR}, #{flowpreoperationmark,jdbcType=VARCHAR}, 
      #{flowoperationmaskenum,jdbcType=VARCHAR}, #{docsourcename,jdbcType=VARCHAR}, #{doclinkto,jdbcType=VARCHAR}, 
      #{docmirrorto,jdbcType=VARCHAR}, #{randomserial,jdbcType=VARCHAR}, #{postuser,jdbcType=VARCHAR}, 
      #{ispageimg,jdbcType=TINYINT}, #{publishdate,jdbcType=VARCHAR}, #{pagenum,jdbcType=VARCHAR}, 
      #{pagename,jdbcType=VARCHAR}, #{pdffilename,jdbcType=VARCHAR}, #{pageimagefilename,jdbcType=VARCHAR}, 
      #{map,jdbcType=VARCHAR}, #{yinti,jdbcType=VARCHAR}, #{siteid,jdbcType=INTEGER}, 
      #{srcsiteid,jdbcType=INTEGER}, #{docfirstpubtime,jdbcType=TIMESTAMP}, #{nodeid,jdbcType=INTEGER}, 
      #{orderid,jdbcType=INTEGER}, #{crdept,jdbcType=VARCHAR}, #{docform,jdbcType=INTEGER}, 
      #{doclevel,jdbcType=INTEGER}, #{olddocpuburl,jdbcType=VARCHAR}, #{doccontent,jdbcType=LONGVARCHAR}, 
      #{dochtmlcon,jdbcType=LONGVARCHAR}, #{docpubhtmlcon,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.example.statisdatainfo.entity.DocmentWithBLOBs" >
    insert into wcmdocument
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="docid != null" >
        DOCID,
      </if>
      <if test="docchannel != null" >
        DOCCHANNEL,
      </if>
      <if test="docversion != null" >
        DOCVERSION,
      </if>
      <if test="doctype != null" >
        DOCTYPE,
      </if>
      <if test="doctitle != null" >
        DOCTITLE,
      </if>
      <if test="docsource != null" >
        DOCSOURCE,
      </if>
      <if test="docsecurity != null" >
        DOCSECURITY,
      </if>
      <if test="docstatus != null" >
        DOCSTATUS,
      </if>
      <if test="dockind != null" >
        DOCKIND,
      </if>
      <if test="docabstract != null" >
        DOCABSTRACT,
      </if>
      <if test="dockeywords != null" >
        DOCKEYWORDS,
      </if>
      <if test="docrelwords != null" >
        DOCRELWORDS,
      </if>
      <if test="docpeople != null" >
        DOCPEOPLE,
      </if>
      <if test="docplace != null" >
        DOCPLACE,
      </if>
      <if test="docauthor != null" >
        DOCAUTHOR,
      </if>
      <if test="doceditor != null" >
        DOCEDITOR,
      </if>
      <if test="docauditor != null" >
        DOCAUDITOR,
      </if>
      <if test="docoutupid != null" >
        DOCOUTUPID,
      </if>
      <if test="docvalid != null" >
        DOCVALID,
      </if>
      <if test="docpuburl != null" >
        DOCPUBURL,
      </if>
      <if test="docpubtime != null" >
        DOCPUBTIME,
      </if>
      <if test="docreltime != null" >
        DOCRELTIME,
      </if>
      <if test="cruser != null" >
        CRUSER,
      </if>
      <if test="crtime != null" >
        CRTIME,
      </if>
      <if test="docwordscount != null" >
        DOCWORDSCOUNT,
      </if>
      <if test="docpro != null" >
        DOCPRO,
      </if>
      <if test="rightdefined != null" >
        RIGHTDEFINED,
      </if>
      <if test="titlecolor != null" >
        TITLECOLOR,
      </if>
      <if test="templateid != null" >
        TEMPLATEID,
      </if>
      <if test="schedule != null" >
        SCHEDULE,
      </if>
      <if test="docno != null" >
        DOCNO,
      </if>
      <if test="docflag != null" >
        DOCFLAG,
      </if>
      <if test="editor != null" >
        EDITOR,
      </if>
      <if test="attribute != null" >
        ATTRIBUTE,
      </if>
      <if test="hitscount != null" >
        HITSCOUNT,
      </if>
      <if test="subdoctitle != null" >
        SUBDOCTITLE,
      </if>
      <if test="attachpic != null" >
        ATTACHPIC,
      </if>
      <if test="doclink != null" >
        DOCLINK,
      </if>
      <if test="docfilename != null" >
        DOCFILENAME,
      </if>
      <if test="docfromversion != null" >
        DOCFROMVERSION,
      </if>
      <if test="opertime != null" >
        OPERTIME,
      </if>
      <if test="operuser != null" >
        OPERUSER,
      </if>
      <if test="flowoperationmark != null" >
        FLOWOPERATIONMARK,
      </if>
      <if test="flowpreoperationmark != null" >
        FLOWPREOPERATIONMARK,
      </if>
      <if test="flowoperationmaskenum != null" >
        FLOWOPERATIONMASKENUM,
      </if>
      <if test="docsourcename != null" >
        DOCSOURCENAME,
      </if>
      <if test="doclinkto != null" >
        DOCLINKTO,
      </if>
      <if test="docmirrorto != null" >
        DOCMIRRORTO,
      </if>
      <if test="randomserial != null" >
        RANDOMSERIAL,
      </if>
      <if test="postuser != null" >
        POSTUSER,
      </if>
      <if test="ispageimg != null" >
        ISPAGEIMG,
      </if>
      <if test="publishdate != null" >
        PUBLISHDATE,
      </if>
      <if test="pagenum != null" >
        PAGENUM,
      </if>
      <if test="pagename != null" >
        PAGENAME,
      </if>
      <if test="pdffilename != null" >
        PDFFILENAME,
      </if>
      <if test="pageimagefilename != null" >
        PAGEIMAGEFILENAME,
      </if>
      <if test="map != null" >
        MAP,
      </if>
      <if test="yinti != null" >
        YINTI,
      </if>
      <if test="siteid != null" >
        SITEID,
      </if>
      <if test="srcsiteid != null" >
        SRCSITEID,
      </if>
      <if test="docfirstpubtime != null" >
        DOCFIRSTPUBTIME,
      </if>
      <if test="nodeid != null" >
        NODEID,
      </if>
      <if test="orderid != null" >
        ORDERID,
      </if>
      <if test="crdept != null" >
        CRDEPT,
      </if>
      <if test="docform != null" >
        DOCFORM,
      </if>
      <if test="doclevel != null" >
        DOCLEVEL,
      </if>
      <if test="olddocpuburl != null" >
        olddocpuburl,
      </if>
      <if test="doccontent != null" >
        DOCCONTENT,
      </if>
      <if test="dochtmlcon != null" >
        DOCHTMLCON,
      </if>
      <if test="docpubhtmlcon != null" >
        DOCPUBHTMLCON,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="docid != null" >
        #{docid,jdbcType=INTEGER},
      </if>
      <if test="docchannel != null" >
        #{docchannel,jdbcType=INTEGER},
      </if>
      <if test="docversion != null" >
        #{docversion,jdbcType=INTEGER},
      </if>
      <if test="doctype != null" >
        #{doctype,jdbcType=INTEGER},
      </if>
      <if test="doctitle != null" >
        #{doctitle,jdbcType=VARCHAR},
      </if>
      <if test="docsource != null" >
        #{docsource,jdbcType=INTEGER},
      </if>
      <if test="docsecurity != null" >
        #{docsecurity,jdbcType=INTEGER},
      </if>
      <if test="docstatus != null" >
        #{docstatus,jdbcType=INTEGER},
      </if>
      <if test="dockind != null" >
        #{dockind,jdbcType=INTEGER},
      </if>
      <if test="docabstract != null" >
        #{docabstract,jdbcType=VARCHAR},
      </if>
      <if test="dockeywords != null" >
        #{dockeywords,jdbcType=VARCHAR},
      </if>
      <if test="docrelwords != null" >
        #{docrelwords,jdbcType=VARCHAR},
      </if>
      <if test="docpeople != null" >
        #{docpeople,jdbcType=VARCHAR},
      </if>
      <if test="docplace != null" >
        #{docplace,jdbcType=VARCHAR},
      </if>
      <if test="docauthor != null" >
        #{docauthor,jdbcType=VARCHAR},
      </if>
      <if test="doceditor != null" >
        #{doceditor,jdbcType=VARCHAR},
      </if>
      <if test="docauditor != null" >
        #{docauditor,jdbcType=VARCHAR},
      </if>
      <if test="docoutupid != null" >
        #{docoutupid,jdbcType=INTEGER},
      </if>
      <if test="docvalid != null" >
        #{docvalid,jdbcType=TIMESTAMP},
      </if>
      <if test="docpuburl != null" >
        #{docpuburl,jdbcType=VARCHAR},
      </if>
      <if test="docpubtime != null" >
        #{docpubtime,jdbcType=TIMESTAMP},
      </if>
      <if test="docreltime != null" >
        #{docreltime,jdbcType=TIMESTAMP},
      </if>
      <if test="cruser != null" >
        #{cruser,jdbcType=VARCHAR},
      </if>
      <if test="crtime != null" >
        #{crtime,jdbcType=TIMESTAMP},
      </if>
      <if test="docwordscount != null" >
        #{docwordscount,jdbcType=INTEGER},
      </if>
      <if test="docpro != null" >
        #{docpro,jdbcType=INTEGER},
      </if>
      <if test="rightdefined != null" >
        #{rightdefined,jdbcType=SMALLINT},
      </if>
      <if test="titlecolor != null" >
        #{titlecolor,jdbcType=VARCHAR},
      </if>
      <if test="templateid != null" >
        #{templateid,jdbcType=INTEGER},
      </if>
      <if test="schedule != null" >
        #{schedule,jdbcType=INTEGER},
      </if>
      <if test="docno != null" >
        #{docno,jdbcType=VARCHAR},
      </if>
      <if test="docflag != null" >
        #{docflag,jdbcType=INTEGER},
      </if>
      <if test="editor != null" >
        #{editor,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null" >
        #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="hitscount != null" >
        #{hitscount,jdbcType=INTEGER},
      </if>
      <if test="subdoctitle != null" >
        #{subdoctitle,jdbcType=VARCHAR},
      </if>
      <if test="attachpic != null" >
        #{attachpic,jdbcType=SMALLINT},
      </if>
      <if test="doclink != null" >
        #{doclink,jdbcType=VARCHAR},
      </if>
      <if test="docfilename != null" >
        #{docfilename,jdbcType=VARCHAR},
      </if>
      <if test="docfromversion != null" >
        #{docfromversion,jdbcType=INTEGER},
      </if>
      <if test="opertime != null" >
        #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="operuser != null" >
        #{operuser,jdbcType=VARCHAR},
      </if>
      <if test="flowoperationmark != null" >
        #{flowoperationmark,jdbcType=VARCHAR},
      </if>
      <if test="flowpreoperationmark != null" >
        #{flowpreoperationmark,jdbcType=VARCHAR},
      </if>
      <if test="flowoperationmaskenum != null" >
        #{flowoperationmaskenum,jdbcType=VARCHAR},
      </if>
      <if test="docsourcename != null" >
        #{docsourcename,jdbcType=VARCHAR},
      </if>
      <if test="doclinkto != null" >
        #{doclinkto,jdbcType=VARCHAR},
      </if>
      <if test="docmirrorto != null" >
        #{docmirrorto,jdbcType=VARCHAR},
      </if>
      <if test="randomserial != null" >
        #{randomserial,jdbcType=VARCHAR},
      </if>
      <if test="postuser != null" >
        #{postuser,jdbcType=VARCHAR},
      </if>
      <if test="ispageimg != null" >
        #{ispageimg,jdbcType=TINYINT},
      </if>
      <if test="publishdate != null" >
        #{publishdate,jdbcType=VARCHAR},
      </if>
      <if test="pagenum != null" >
        #{pagenum,jdbcType=VARCHAR},
      </if>
      <if test="pagename != null" >
        #{pagename,jdbcType=VARCHAR},
      </if>
      <if test="pdffilename != null" >
        #{pdffilename,jdbcType=VARCHAR},
      </if>
      <if test="pageimagefilename != null" >
        #{pageimagefilename,jdbcType=VARCHAR},
      </if>
      <if test="map != null" >
        #{map,jdbcType=VARCHAR},
      </if>
      <if test="yinti != null" >
        #{yinti,jdbcType=VARCHAR},
      </if>
      <if test="siteid != null" >
        #{siteid,jdbcType=INTEGER},
      </if>
      <if test="srcsiteid != null" >
        #{srcsiteid,jdbcType=INTEGER},
      </if>
      <if test="docfirstpubtime != null" >
        #{docfirstpubtime,jdbcType=TIMESTAMP},
      </if>
      <if test="nodeid != null" >
        #{nodeid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        #{orderid,jdbcType=INTEGER},
      </if>
      <if test="crdept != null" >
        #{crdept,jdbcType=VARCHAR},
      </if>
      <if test="docform != null" >
        #{docform,jdbcType=INTEGER},
      </if>
      <if test="doclevel != null" >
        #{doclevel,jdbcType=INTEGER},
      </if>
      <if test="olddocpuburl != null" >
        #{olddocpuburl,jdbcType=VARCHAR},
      </if>
      <if test="doccontent != null" >
        #{doccontent,jdbcType=LONGVARCHAR},
      </if>
      <if test="dochtmlcon != null" >
        #{dochtmlcon,jdbcType=LONGVARCHAR},
      </if>
      <if test="docpubhtmlcon != null" >
        #{docpubhtmlcon,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.example.statisdatainfo.entity.DocmentWithBLOBs" >
    update wcmdocument
    <set >
      <if test="docchannel != null" >
        DOCCHANNEL = #{docchannel,jdbcType=INTEGER},
      </if>
      <if test="docversion != null" >
        DOCVERSION = #{docversion,jdbcType=INTEGER},
      </if>
      <if test="doctype != null" >
        DOCTYPE = #{doctype,jdbcType=INTEGER},
      </if>
      <if test="doctitle != null" >
        DOCTITLE = #{doctitle,jdbcType=VARCHAR},
      </if>
      <if test="docsource != null" >
        DOCSOURCE = #{docsource,jdbcType=INTEGER},
      </if>
      <if test="docsecurity != null" >
        DOCSECURITY = #{docsecurity,jdbcType=INTEGER},
      </if>
      <if test="docstatus != null" >
        DOCSTATUS = #{docstatus,jdbcType=INTEGER},
      </if>
      <if test="dockind != null" >
        DOCKIND = #{dockind,jdbcType=INTEGER},
      </if>
      <if test="docabstract != null" >
        DOCABSTRACT = #{docabstract,jdbcType=VARCHAR},
      </if>
      <if test="dockeywords != null" >
        DOCKEYWORDS = #{dockeywords,jdbcType=VARCHAR},
      </if>
      <if test="docrelwords != null" >
        DOCRELWORDS = #{docrelwords,jdbcType=VARCHAR},
      </if>
      <if test="docpeople != null" >
        DOCPEOPLE = #{docpeople,jdbcType=VARCHAR},
      </if>
      <if test="docplace != null" >
        DOCPLACE = #{docplace,jdbcType=VARCHAR},
      </if>
      <if test="docauthor != null" >
        DOCAUTHOR = #{docauthor,jdbcType=VARCHAR},
      </if>
      <if test="doceditor != null" >
        DOCEDITOR = #{doceditor,jdbcType=VARCHAR},
      </if>
      <if test="docauditor != null" >
        DOCAUDITOR = #{docauditor,jdbcType=VARCHAR},
      </if>
      <if test="docoutupid != null" >
        DOCOUTUPID = #{docoutupid,jdbcType=INTEGER},
      </if>
      <if test="docvalid != null" >
        DOCVALID = #{docvalid,jdbcType=TIMESTAMP},
      </if>
      <if test="docpuburl != null" >
        DOCPUBURL = #{docpuburl,jdbcType=VARCHAR},
      </if>
      <if test="docpubtime != null" >
        DOCPUBTIME = #{docpubtime,jdbcType=TIMESTAMP},
      </if>
      <if test="docreltime != null" >
        DOCRELTIME = #{docreltime,jdbcType=TIMESTAMP},
      </if>
      <if test="cruser != null" >
        CRUSER = #{cruser,jdbcType=VARCHAR},
      </if>
      <if test="crtime != null" >
        CRTIME = #{crtime,jdbcType=TIMESTAMP},
      </if>
      <if test="docwordscount != null" >
        DOCWORDSCOUNT = #{docwordscount,jdbcType=INTEGER},
      </if>
      <if test="docpro != null" >
        DOCPRO = #{docpro,jdbcType=INTEGER},
      </if>
      <if test="rightdefined != null" >
        RIGHTDEFINED = #{rightdefined,jdbcType=SMALLINT},
      </if>
      <if test="titlecolor != null" >
        TITLECOLOR = #{titlecolor,jdbcType=VARCHAR},
      </if>
      <if test="templateid != null" >
        TEMPLATEID = #{templateid,jdbcType=INTEGER},
      </if>
      <if test="schedule != null" >
        SCHEDULE = #{schedule,jdbcType=INTEGER},
      </if>
      <if test="docno != null" >
        DOCNO = #{docno,jdbcType=VARCHAR},
      </if>
      <if test="docflag != null" >
        DOCFLAG = #{docflag,jdbcType=INTEGER},
      </if>
      <if test="editor != null" >
        EDITOR = #{editor,jdbcType=VARCHAR},
      </if>
      <if test="attribute != null" >
        ATTRIBUTE = #{attribute,jdbcType=VARCHAR},
      </if>
      <if test="hitscount != null" >
        HITSCOUNT = #{hitscount,jdbcType=INTEGER},
      </if>
      <if test="subdoctitle != null" >
        SUBDOCTITLE = #{subdoctitle,jdbcType=VARCHAR},
      </if>
      <if test="attachpic != null" >
        ATTACHPIC = #{attachpic,jdbcType=SMALLINT},
      </if>
      <if test="doclink != null" >
        DOCLINK = #{doclink,jdbcType=VARCHAR},
      </if>
      <if test="docfilename != null" >
        DOCFILENAME = #{docfilename,jdbcType=VARCHAR},
      </if>
      <if test="docfromversion != null" >
        DOCFROMVERSION = #{docfromversion,jdbcType=INTEGER},
      </if>
      <if test="opertime != null" >
        OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      </if>
      <if test="operuser != null" >
        OPERUSER = #{operuser,jdbcType=VARCHAR},
      </if>
      <if test="flowoperationmark != null" >
        FLOWOPERATIONMARK = #{flowoperationmark,jdbcType=VARCHAR},
      </if>
      <if test="flowpreoperationmark != null" >
        FLOWPREOPERATIONMARK = #{flowpreoperationmark,jdbcType=VARCHAR},
      </if>
      <if test="flowoperationmaskenum != null" >
        FLOWOPERATIONMASKENUM = #{flowoperationmaskenum,jdbcType=VARCHAR},
      </if>
      <if test="docsourcename != null" >
        DOCSOURCENAME = #{docsourcename,jdbcType=VARCHAR},
      </if>
      <if test="doclinkto != null" >
        DOCLINKTO = #{doclinkto,jdbcType=VARCHAR},
      </if>
      <if test="docmirrorto != null" >
        DOCMIRRORTO = #{docmirrorto,jdbcType=VARCHAR},
      </if>
      <if test="randomserial != null" >
        RANDOMSERIAL = #{randomserial,jdbcType=VARCHAR},
      </if>
      <if test="postuser != null" >
        POSTUSER = #{postuser,jdbcType=VARCHAR},
      </if>
      <if test="ispageimg != null" >
        ISPAGEIMG = #{ispageimg,jdbcType=TINYINT},
      </if>
      <if test="publishdate != null" >
        PUBLISHDATE = #{publishdate,jdbcType=VARCHAR},
      </if>
      <if test="pagenum != null" >
        PAGENUM = #{pagenum,jdbcType=VARCHAR},
      </if>
      <if test="pagename != null" >
        PAGENAME = #{pagename,jdbcType=VARCHAR},
      </if>
      <if test="pdffilename != null" >
        PDFFILENAME = #{pdffilename,jdbcType=VARCHAR},
      </if>
      <if test="pageimagefilename != null" >
        PAGEIMAGEFILENAME = #{pageimagefilename,jdbcType=VARCHAR},
      </if>
      <if test="map != null" >
        MAP = #{map,jdbcType=VARCHAR},
      </if>
      <if test="yinti != null" >
        YINTI = #{yinti,jdbcType=VARCHAR},
      </if>
      <if test="siteid != null" >
        SITEID = #{siteid,jdbcType=INTEGER},
      </if>
      <if test="srcsiteid != null" >
        SRCSITEID = #{srcsiteid,jdbcType=INTEGER},
      </if>
      <if test="docfirstpubtime != null" >
        DOCFIRSTPUBTIME = #{docfirstpubtime,jdbcType=TIMESTAMP},
      </if>
      <if test="nodeid != null" >
        NODEID = #{nodeid,jdbcType=INTEGER},
      </if>
      <if test="orderid != null" >
        ORDERID = #{orderid,jdbcType=INTEGER},
      </if>
      <if test="crdept != null" >
        CRDEPT = #{crdept,jdbcType=VARCHAR},
      </if>
      <if test="docform != null" >
        DOCFORM = #{docform,jdbcType=INTEGER},
      </if>
      <if test="doclevel != null" >
        DOCLEVEL = #{doclevel,jdbcType=INTEGER},
      </if>
      <if test="olddocpuburl != null" >
        olddocpuburl = #{olddocpuburl,jdbcType=VARCHAR},
      </if>
      <if test="doccontent != null" >
        DOCCONTENT = #{doccontent,jdbcType=LONGVARCHAR},
      </if>
      <if test="dochtmlcon != null" >
        DOCHTMLCON = #{dochtmlcon,jdbcType=LONGVARCHAR},
      </if>
      <if test="docpubhtmlcon != null" >
        DOCPUBHTMLCON = #{docpubhtmlcon,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where DOCID = #{docid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.example.statisdatainfo.entity.DocmentWithBLOBs" >
    update wcmdocument
    set DOCCHANNEL = #{docchannel,jdbcType=INTEGER},
      DOCVERSION = #{docversion,jdbcType=INTEGER},
      DOCTYPE = #{doctype,jdbcType=INTEGER},
      DOCTITLE = #{doctitle,jdbcType=VARCHAR},
      DOCSOURCE = #{docsource,jdbcType=INTEGER},
      DOCSECURITY = #{docsecurity,jdbcType=INTEGER},
      DOCSTATUS = #{docstatus,jdbcType=INTEGER},
      DOCKIND = #{dockind,jdbcType=INTEGER},
      DOCABSTRACT = #{docabstract,jdbcType=VARCHAR},
      DOCKEYWORDS = #{dockeywords,jdbcType=VARCHAR},
      DOCRELWORDS = #{docrelwords,jdbcType=VARCHAR},
      DOCPEOPLE = #{docpeople,jdbcType=VARCHAR},
      DOCPLACE = #{docplace,jdbcType=VARCHAR},
      DOCAUTHOR = #{docauthor,jdbcType=VARCHAR},
      DOCEDITOR = #{doceditor,jdbcType=VARCHAR},
      DOCAUDITOR = #{docauditor,jdbcType=VARCHAR},
      DOCOUTUPID = #{docoutupid,jdbcType=INTEGER},
      DOCVALID = #{docvalid,jdbcType=TIMESTAMP},
      DOCPUBURL = #{docpuburl,jdbcType=VARCHAR},
      DOCPUBTIME = #{docpubtime,jdbcType=TIMESTAMP},
      DOCRELTIME = #{docreltime,jdbcType=TIMESTAMP},
      CRUSER = #{cruser,jdbcType=VARCHAR},
      CRTIME = #{crtime,jdbcType=TIMESTAMP},
      DOCWORDSCOUNT = #{docwordscount,jdbcType=INTEGER},
      DOCPRO = #{docpro,jdbcType=INTEGER},
      RIGHTDEFINED = #{rightdefined,jdbcType=SMALLINT},
      TITLECOLOR = #{titlecolor,jdbcType=VARCHAR},
      TEMPLATEID = #{templateid,jdbcType=INTEGER},
      SCHEDULE = #{schedule,jdbcType=INTEGER},
      DOCNO = #{docno,jdbcType=VARCHAR},
      DOCFLAG = #{docflag,jdbcType=INTEGER},
      EDITOR = #{editor,jdbcType=VARCHAR},
      ATTRIBUTE = #{attribute,jdbcType=VARCHAR},
      HITSCOUNT = #{hitscount,jdbcType=INTEGER},
      SUBDOCTITLE = #{subdoctitle,jdbcType=VARCHAR},
      ATTACHPIC = #{attachpic,jdbcType=SMALLINT},
      DOCLINK = #{doclink,jdbcType=VARCHAR},
      DOCFILENAME = #{docfilename,jdbcType=VARCHAR},
      DOCFROMVERSION = #{docfromversion,jdbcType=INTEGER},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      OPERUSER = #{operuser,jdbcType=VARCHAR},
      FLOWOPERATIONMARK = #{flowoperationmark,jdbcType=VARCHAR},
      FLOWPREOPERATIONMARK = #{flowpreoperationmark,jdbcType=VARCHAR},
      FLOWOPERATIONMASKENUM = #{flowoperationmaskenum,jdbcType=VARCHAR},
      DOCSOURCENAME = #{docsourcename,jdbcType=VARCHAR},
      DOCLINKTO = #{doclinkto,jdbcType=VARCHAR},
      DOCMIRRORTO = #{docmirrorto,jdbcType=VARCHAR},
      RANDOMSERIAL = #{randomserial,jdbcType=VARCHAR},
      POSTUSER = #{postuser,jdbcType=VARCHAR},
      ISPAGEIMG = #{ispageimg,jdbcType=TINYINT},
      PUBLISHDATE = #{publishdate,jdbcType=VARCHAR},
      PAGENUM = #{pagenum,jdbcType=VARCHAR},
      PAGENAME = #{pagename,jdbcType=VARCHAR},
      PDFFILENAME = #{pdffilename,jdbcType=VARCHAR},
      PAGEIMAGEFILENAME = #{pageimagefilename,jdbcType=VARCHAR},
      MAP = #{map,jdbcType=VARCHAR},
      YINTI = #{yinti,jdbcType=VARCHAR},
      SITEID = #{siteid,jdbcType=INTEGER},
      SRCSITEID = #{srcsiteid,jdbcType=INTEGER},
      DOCFIRSTPUBTIME = #{docfirstpubtime,jdbcType=TIMESTAMP},
      NODEID = #{nodeid,jdbcType=INTEGER},
      ORDERID = #{orderid,jdbcType=INTEGER},
      CRDEPT = #{crdept,jdbcType=VARCHAR},
      DOCFORM = #{docform,jdbcType=INTEGER},
      DOCLEVEL = #{doclevel,jdbcType=INTEGER},
      olddocpuburl = #{olddocpuburl,jdbcType=VARCHAR},
      DOCCONTENT = #{doccontent,jdbcType=LONGVARCHAR},
      DOCHTMLCON = #{dochtmlcon,jdbcType=LONGVARCHAR},
      DOCPUBHTMLCON = #{docpubhtmlcon,jdbcType=LONGVARCHAR}
    where DOCID = #{docid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.example.statisdatainfo.entity.Docment" >
    update wcmdocument
    set DOCCHANNEL = #{docchannel,jdbcType=INTEGER},
      DOCVERSION = #{docversion,jdbcType=INTEGER},
      DOCTYPE = #{doctype,jdbcType=INTEGER},
      DOCTITLE = #{doctitle,jdbcType=VARCHAR},
      DOCSOURCE = #{docsource,jdbcType=INTEGER},
      DOCSECURITY = #{docsecurity,jdbcType=INTEGER},
      DOCSTATUS = #{docstatus,jdbcType=INTEGER},
      DOCKIND = #{dockind,jdbcType=INTEGER},
      DOCABSTRACT = #{docabstract,jdbcType=VARCHAR},
      DOCKEYWORDS = #{dockeywords,jdbcType=VARCHAR},
      DOCRELWORDS = #{docrelwords,jdbcType=VARCHAR},
      DOCPEOPLE = #{docpeople,jdbcType=VARCHAR},
      DOCPLACE = #{docplace,jdbcType=VARCHAR},
      DOCAUTHOR = #{docauthor,jdbcType=VARCHAR},
      DOCEDITOR = #{doceditor,jdbcType=VARCHAR},
      DOCAUDITOR = #{docauditor,jdbcType=VARCHAR},
      DOCOUTUPID = #{docoutupid,jdbcType=INTEGER},
      DOCVALID = #{docvalid,jdbcType=TIMESTAMP},
      DOCPUBURL = #{docpuburl,jdbcType=VARCHAR},
      DOCPUBTIME = #{docpubtime,jdbcType=TIMESTAMP},
      DOCRELTIME = #{docreltime,jdbcType=TIMESTAMP},
      CRUSER = #{cruser,jdbcType=VARCHAR},
      CRTIME = #{crtime,jdbcType=TIMESTAMP},
      DOCWORDSCOUNT = #{docwordscount,jdbcType=INTEGER},
      DOCPRO = #{docpro,jdbcType=INTEGER},
      RIGHTDEFINED = #{rightdefined,jdbcType=SMALLINT},
      TITLECOLOR = #{titlecolor,jdbcType=VARCHAR},
      TEMPLATEID = #{templateid,jdbcType=INTEGER},
      SCHEDULE = #{schedule,jdbcType=INTEGER},
      DOCNO = #{docno,jdbcType=VARCHAR},
      DOCFLAG = #{docflag,jdbcType=INTEGER},
      EDITOR = #{editor,jdbcType=VARCHAR},
      ATTRIBUTE = #{attribute,jdbcType=VARCHAR},
      HITSCOUNT = #{hitscount,jdbcType=INTEGER},
      SUBDOCTITLE = #{subdoctitle,jdbcType=VARCHAR},
      ATTACHPIC = #{attachpic,jdbcType=SMALLINT},
      DOCLINK = #{doclink,jdbcType=VARCHAR},
      DOCFILENAME = #{docfilename,jdbcType=VARCHAR},
      DOCFROMVERSION = #{docfromversion,jdbcType=INTEGER},
      OPERTIME = #{opertime,jdbcType=TIMESTAMP},
      OPERUSER = #{operuser,jdbcType=VARCHAR},
      FLOWOPERATIONMARK = #{flowoperationmark,jdbcType=VARCHAR},
      FLOWPREOPERATIONMARK = #{flowpreoperationmark,jdbcType=VARCHAR},
      FLOWOPERATIONMASKENUM = #{flowoperationmaskenum,jdbcType=VARCHAR},
      DOCSOURCENAME = #{docsourcename,jdbcType=VARCHAR},
      DOCLINKTO = #{doclinkto,jdbcType=VARCHAR},
      DOCMIRRORTO = #{docmirrorto,jdbcType=VARCHAR},
      RANDOMSERIAL = #{randomserial,jdbcType=VARCHAR},
      POSTUSER = #{postuser,jdbcType=VARCHAR},
      ISPAGEIMG = #{ispageimg,jdbcType=TINYINT},
      PUBLISHDATE = #{publishdate,jdbcType=VARCHAR},
      PAGENUM = #{pagenum,jdbcType=VARCHAR},
      PAGENAME = #{pagename,jdbcType=VARCHAR},
      PDFFILENAME = #{pdffilename,jdbcType=VARCHAR},
      PAGEIMAGEFILENAME = #{pageimagefilename,jdbcType=VARCHAR},
      MAP = #{map,jdbcType=VARCHAR},
      YINTI = #{yinti,jdbcType=VARCHAR},
      SITEID = #{siteid,jdbcType=INTEGER},
      SRCSITEID = #{srcsiteid,jdbcType=INTEGER},
      DOCFIRSTPUBTIME = #{docfirstpubtime,jdbcType=TIMESTAMP},
      NODEID = #{nodeid,jdbcType=INTEGER},
      ORDERID = #{orderid,jdbcType=INTEGER},
      CRDEPT = #{crdept,jdbcType=VARCHAR},
      DOCFORM = #{docform,jdbcType=INTEGER},
      DOCLEVEL = #{doclevel,jdbcType=INTEGER},
      olddocpuburl = #{olddocpuburl,jdbcType=VARCHAR}
    where DOCID = #{docid,jdbcType=INTEGER}
  </update>
</mapper>